<div class="flex-container wn-toolbar"
  fxLayout="row"
  fxLayoutAlign="center center">
  <img src="../assets/logo.svg" alt="Weather Now Logo">
</div>
<div
  class="flex-container flex-stretch"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayout.sm="column"
  fxLayoutAlign="center center"
  fxLayoutAlign.xs="start">

  <div *ngFor="let city of cities"
    class="flex-item padding-sides-24 card-deck" 
    fxFlex="298px" 
    fxFlex.sm="100%" 
    fxFlex.xs="100%">
    <app-city-weather-card [city]="city">
      </app-city-weather-card>
  </div>
</div>