<div class="fixed-top
  bg-white height-55 wn-box-shadow"
  fxLayout="row" fxLayoutAlign="center center">
  <img src="../assets/logo.svg" height="25px" fxFlex="100%"
    class="flex-stretch" alt="Weather Now Logo">
</div>
<div class="flex-stretch padding-top-55 padding-bottom-24" 
  fxLayout="row" fxLayout.xs="column" 
  fxLayout.sm="column" fxLayoutAlign="center center">
  
  <app-city-weather-card [city]="city" *ngFor="let city of cities" 
    (click)="city.selected = !city.selected"
    class="flex-item padding-sides-24 padding-top-25 
      card-deck wn-no-margin wn-cursor-pointer" 
    fxFlex="298px"
    fxFlex.sm="100%" fxFlex.xs="100%">
  </app-city-weather-card>
</div>