
.card-text:last-child {
    margin-bottom: 0;
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
}

.height-140 {
    min-height: 140px;
    max-height: 140px;
}

.line-height-140 {
    line-height: 140px;
}

.wn-font-5-em {
    font-size: 5em;
}

.wn-no-border-top {
    border-top: 0px;
}

.wn-no-padding-bottom {
    padding-bottom: 0px;
}

.wn-font-12-px {
    font-size: 12px;
}

.wn-font-11-px {
    font-size: 11px;
}

.wn-footer-bg-color {
    background-color: #F1F1F1;
    background-color: rgba(241, 241, 241, 0.5);
}
