.height-140 {
    min-height: 140px;
    max-height: 140px;
}

.line-height-140 {
    line-height: 140px;
}

.width-250 {
    min-width: 250px;
    max-width: 250px;
    width: 250px;
}

.wn-footer-bg-color {
    background-color: #F1F1F1;
    background-color: rgba(241, 241, 241, 0.5);
}

.wn-font-5-em {
    font-size: 5em;
}

.wn-no-margin {
    margin: 0;
}