/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-weight: 400;
    line-height: 1.2;
}

*, *::before, *::after {
    box-sizing: border-box;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center !important;
}
.full-height {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.wn-color-blue {
    color: #69A3FF;
}

.wn-color-orange {
    color: #FF9632;
}

.wn-color-red {
    color: #ED1946;
}

.wn-color-text-light {
    color: #B4B4B4;
}

.wn-color-text-default {
    color: #737C84;
}

.wn-app-bg-color {
    background-color: #F1F1F1;
}

.bg-white {
    background-color: white !important;
}

.wn-box-shadow {
    box-shadow: 1px 1px 2px #333333;
    box-shadow: 1px 1px 2px rgba(51, 51, 51, .1);
}